*{
    margin: 0;
    padding: 0;
}
#game {
    width: 500px;
    height: 200px;
    border: 1px solid black;
}
#character{
    width: 45px;
    height: 50px;
    position: relative;
    top: 150px;
    margin-left: 40px;
    background-size: cover;
}
.animate{
    animation: jump 500ms;
}
.run {
    animation: DinoRun 400ms infinite linear;
}
#block {
    width: 20px;
    height: 40px;
    position: relative;
    top: 110px;
    left: 480px;
    background-image: url("Images/cactusBig0000.png");
    background-size: contain;
    animation: block 1s infinite linear;
    animation-delay: 1s;
}
@keyframes block {
    0% {left:480px;}
    100% {left:-40px;}
}
@keyframes jump {
    0% {top: 150px;
    }
    30% {
        top: 80px;
        background-image: url("Images/dinoJump0000.png");
    }
    70% {
        top: 80px;
    }
    100% {
        top: 150px;
        background-image: url("Images/dinorun0000.png")
    }
}

@keyframes DinoRun {
    0% {background-image: url("Images/dinorun0000.png");}
    100% {background-image: url("Images/dinorun0001.png");}
}
