*{
    padding: 0;
}

#game {
    width: 600px;
    height: 200px;
    border: 1px solid black;
}
#character{
    width: 45px;
    height: 50px;
    position: relative;
    top: 150px;
    margin-left: 40px;
    background-size: contain;
    background-repeat: no-repeat;
}
.animate{
    animation: jump 500ms;
}
.run {
    animation: DinoRun 400ms infinite linear;
}
#regCactus {
    width: 20px;
    height: 40px;
    position: absolute;
    top: 110px;
    left: 480px;
    background-image: url("Assets/Images/cactusBig0000.png");
    background-size: contain;

}

@keyframes jump {
    0% {top: 150px;
    }
    30% {
        top: 80px;
        background-image: url("Assets/Images/dinoJump0000.png");
    }
    70% {
        top: 80px;
    }
    100% {
        top: 150px;
        background-image: url("Assets/Images/dinorun0000.png")
    }
}

@keyframes DinoRun {
    0% {background-image: url("Assets/Images/dinorun0000.png");}
    100% {background-image: url("Assets/Images/dinorun0001.png");}
}
@font-face {
    font-family: my8Bit;
    src:url("Assets/press-start-2p-font/PressStart2P-vaV7.ttf");
    font-weight: normal;
}

#Score {
    color: dimgrey;
    font-family: my8Bit;
}

