*{
    padding: 0;
}

#game {
    width: 600px;
    height: 200px;
    border: 1px solid black;
    background-image: url("Assets/Images/background.jpg");
    background-size: cover;
}
#character{
    width: 45px;
    height: 50px;
    top: 150px;
    position: relative;
    margin-left: 40px;
    background-size: contain;
    background-repeat: no-repeat;
}
.animate{
    animation: jump 500ms;
}
.run {
    animation: DinoRun 400ms infinite linear;
}
.crouch {
    top: 180px;
    animation: DinoDuck 50ms linear infinite;
}

.standard {
    position: absolute;
    background-size: cover;
    left: 600px;
}

.regCactus {
    background-image: url("Assets/Images/cactusBig0000.png");
    top: 210px;
    width: 20px;
    height: 40px;

}
.highPterodactyl {
    background-image: url("Assets/Images/pterodactyl.png");
    top: 180px;
    width: 36px;
    height: 22px;
}
.midPterodactyl {
    background-image: url("Assets/Images/pterodactyl.png");
    top: 200px;
    width: 36px;
    height: 22px;
}

@keyframes jump {
    0% {top: 150px;
    }
    30% {
        top: 80px;
        background-image: url("Assets/Images/dinoJump0000.png");
    }
    70% {
        top: 80px;
    }
    100% {
        top: 150px;
        background-image: url("Assets/Images/dinorun0000.png")
    }
}

@keyframes DinoRun {
    0% {background-image: url("Assets/Images/dinorun0000.png");}
    100% {background-image: url("Assets/Images/dinorun0001.png");}
}

@keyframes DinoDuck {
    0% {
        top: 180px;
        background-image: url("Assets/Images/dinoduck0000.png");
    }
    100% {
        top: 180px;
        background-image: url("Assets/Images/dinoduck0001.png");
    }
}

@font-face {
    font-family: my8Bit;
    src:url("Assets/press-start-2p-font/PressStart2P-vaV7.ttf");
    font-weight: normal;
}

#Score {
    color: dimgrey;
    font-family: my8Bit;
}

